html {
  background-image: url("../assets/images/landscape-yard.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  margin-top:70px;
  height: 100%;
  }

.left {
  float: left;
  margin: 1%;
  color: #fff;
}

.right {
  float: right;
  display: flex;
  clear: none;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top:0; left: 0;
  width: 100%;
  text-align: left;
  font-size: 40px;  line-height: 30px;
  height: 50px;
  background: #c0c339;
  font-family: 'PT Sans', sans-serif;
  transition: all 0.1s ease-in;
  z-index: 2;
  padding-bottom: 30px;
}

header, h3 {
top: 0;
color: black;
padding-bottom: 38px;
}

header .navbar-link {
  font-size: 25px;
  font-weight: 800;
  font-family: sans-serif;
  padding: 3%;
}

.navbar .links-container {
  display: table;
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  color: white;
  padding-right: 5%;
  padding-top: 15px;
  text-decoration: none;
  font-family: monospace;;
  font-size: 20px;
}

/*.links-container ol {
  display: block;
  float: left;
  clear: none;
}*/

header.sticky {
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  background: #efc47D;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}

header.sticky h3 {
  color:white;
  transition: 0.7s;
}

.diamond {
  position: relative;
  background-color: rgba(162, 223, 159, .85);
  height: 100px;
  width: 340px;
  margin-left: 40%;
  margin-top: 200px;
  margin-bottom: 280px;
  border: 1px;
}

.diamond-2 {
  position: relative;
  background-color: rgba(162, 223, 159, .85);
  height: 190px;
  width: 480px;
  margin-left: 40%;
  margin-top: 300px;
  margin-bottom: 240px;
  border: 1px;
}

a {
  text-decoration: none;
}

.diamond h1 {
  color: white;
  display:flex;
  padding-left: 5%;
}
.diamond h3 {
  padding-left: 9%;
}



.links-container .navbar-link {
display: table-cell;
position: relative;
height: 100%;
padding-left: 0rem;
padding-right: 2rem;
vertical-align: middle;
color: yellow;
font-size: 0.625rem;
letter-spacing: 0.05rem;
font-weight: 700;
text-transform: uppercase;
text-decoration: none;
cursor: pointer;
}

.links-container .navbar-link:hover {
 color: rgb(233,50,117);
}

.links-container .navbar-link:active {
 background-color: white;
}


li {
    float: right;
    padding-right: 1%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight:lighter;
}

/*columnize*/

.container {
  margin: 0 auto;
  max-width: 34rem;
}

.container.narrow {
  max-width: 56rem;
}

.column {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.flow-opposite { float: right; }


/*image blocks*/

.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

.icon {
  display:flex;
  align-items: center;
  font-size: 42px;
  padding: 25%;
  margin-left:2%;

}

h2 {
   align-items: center;
   color: black;
   align-items: center;

}

#image-box-top {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  background-image: url("../assets/images/green-fade-background.jpg");
}

#image-box {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  background-image: url("../assets/images/Black-Background.jpg");
}

#text-span {
  color: lightgrey;
  padding-bottom: 10%;
}


.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: fliph; /*IE*/
}
.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: flipv; /*IE*/
}

/* Medium screens(640px) */
@media (max-width: 640px) {
  html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 1024px) {
  html { font-size: 120%; }
}

.clearfix::before,
.clearfix::after {
   content: " ";
   display: table;
}

.clearfix::after {
   clear: both;
}
