/*html {
  background-image: url(/assets/images/landscape-yard.jpeg);
  background-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
size: cover;

}*/
html {
  background: url(/assets/images/landscape-yard.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
  }

.block1 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.left {
  float: left;
  margin: 1%;
  color: #fff;
}
.right {
  float: right;
  display: flex;
  clear: none;
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
}

header{
  position: fixed;
  width: 100%;
  text-align: left;
  font-size: 72px;
  line-height: 60px;
  height: 90px;
  background: #335C7D;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  transition: all 0.4s ease;
  z-index: 2;

}

header, h3 {
padding-bottom: 70px;
margin-right: 10px;

}


.navbar {
  position: static;
  background: rgba(162, 223, 159, .55);
  z-index: 1;
}

.navbar p {
  font-size: 25px;
  font-weight: 800;
  font-family: sans-serif;;
}
.navbar .links-container {
  display: table;
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  color: white;
  padding-right: 5%;
  padding-top: 15px;
  text-decoration: none;
  font-family: monospace;;
  font-size: 20px;
}

.links-container ol {
  display: block;
  float: left;
  clear: none;
}

.header-title {
  margin-bottom: 5%;
  color: yellow;
}
.header-content {
  background-image: url(/assets/images/landscape-yard.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

div.container {
  max-width: 960px;
  padding: 0px 0;
  margin: 0px;
}

header.sticky {
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  background: #efc47D;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
}

.diamond {
  position: relative;
  background-color: rgba(162, 223, 159, .85);
  height: 150px;
  width: 190px;
  margin-left: 40%;
  margin-top: 30%;
  border: 1px;
  /*hole punch effect*/
  color: yellow;
}
.diamond h1 {
  color: black;
}

.links-container .navbar-link {
display: table-cell;
position: relative;
height: 100%;
padding-left: 1rem;
padding-right: 1rem;
/* #4 */
vertical-align: middle;
color: yellow;
font-size: 0.625rem;
letter-spacing: 0.05rem;
font-weight: 700;
text-transform: uppercase;
/* #3 */
text-decoration: none;
cursor: pointer;
}


li {
    float: right;
    padding-right: 1%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
font-weight:lighter;
}
/*columnize*/

.links-container .navbar-link:hover {
color: rgb(233,50,117);
}

.links-container .navbar-link:active {
background-color: white;
}

.container {
    margin: 0 auto;
    max-width: 34rem;
}

.container.narrow {
    max-width: 56rem;
}

.column {
      float: left;
      padding-left: 1rem;
      padding-right: 1rem;
  }

     .column.full { width: 100%; }
     .column.two-thirds { width: 66.7%; }
     .column.half { width: 50%; }
     .column.third { width: 33.3%; }
     .column.fourth { width: 25%; }
     .column.flow-opposite { float: right; }


/*image blocks*/
.column-s {
 position: static;
 min-width: 100%;
}
.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}

/*two lines of text white font black BG*/
h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}
h2 span.spacer {
   padding:0 15px;
   color:inherit;
}

/* Medium screens(640px) */
@media (min-width: 640px) {
  html { font-size: 112%; }
}


/* Large screens (1024px) */
@media (min-width: 1024px) {
  html { font-size: 120%; }
}

.clearfix::before,
.clearfix::after {
   content: " ";
   display: table;
}

.clearfix::after {
   clear: both;
}
